RWKV_PEFT_REPO_URL=https://github.com/JL-er/RWKV-PEFT.git
RWKV_PEFT_REF=main
RWKV_PEFT_DIR=/home/egor/code/rwkv-finetune/third_party/RWKV-PEFT

VENV_DIR=/home/egor/code/rwkv-finetune/.venv
PYTHON_BIN=python3

TORCH_INDEX_URL=https://download.pytorch.org/whl/cu124
INSTALL_DEEPSPEED=1
INSTALL_BITSANDBYTES=1

